# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Instance folder (optionnel selon projet)
instance/

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

